{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}
{% block body %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ asset('assets/css/style_main.css') }}">



<style>
    .example-wrapper {
    padding: 20px;
    background-color: rgba(220,252,255,0.6);
    width: 600px;
    height: 120px;
    margin-left: 350px;
    border-bottom: 1px solid #ccc;
    text-align: center;
    justify-content: center;
    width: 50%;
    }

    .form-group {
      margin-bottom: 20px;
    }

    h1 {
      color: #333;
    }

    .carousel-container {
      margin-top: 30px;
      border-radius: 5px;
      overflow: hidden;
    }

    .carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: auto;
    font-size: 20px;
    margin-right: 30%;
    margin-bottom: 15%;
    margin-left: 25%;
    color: #ff6e00;
}

    .carousel-indicators .active {
      background-color: #333;
    }

    /* Définir la taille des images */
    .item img {
      width: 40%;
      height: 30px;
      object-fit: cover;
    }

    .item:hover{
      cursor: pointer;
    }
    .itm{
      width: 40%;
      height: 30px;
      margin-bottom:8%;
    }
  
</style>

<div class="example-wrapper ">
  {% if app.user == true %}
    <h1>👋 Bienvenue sur Spotyfruit {{ app.user.name }}</h1>
    {% endif %}
  {% if app.user == false %}
    <h1>🍇️Rejoignez notre plateforme fruitée🍊️</h1>
    {% endif %}
</div>

<div class="container">
  <div class="carousel-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#" data-slide-to="0" class="active"></li>
        <li data-target="#" data-slide-to="1"></li>
        <li data-target="#" data-slide-to="2"></li>
      </ol>


      <form id="searchfruit" class="" action="{{ path('search', {'name': ' ','fruit': ' ','style':'Aucun','genre':'Aucun'}) }}" method="GET">

      <div class="carousel-inner">
        <div class="item active " >
          <img class="itm" src="https://cdn.discordapp.com/attachments/927636625314431059/1210619603206803597/i102071-kiwi-nu.png?ex=65eb385d&is=65d8c35d&hm=7bebc15f0ee2897e151915eac6dbdd044a87f511fefa52025edc2810edb48ac2&" alt="Kiwi" onclick="submitForm('Kiwi')">
      </div>
      <div class="item" >
        <img class="itm" src="https://cdn.discordapp.com/attachments/927636625314431059/1210619601214251118/BANANE.png?ex=65eb385d&is=65d8c35d&hm=d09496674328c48f0d43bdfe72623764f9265bf65c8855f5540ff37e6a98ca33&" alt="Banane" onclick="submitForm('Banane')">
      </div>
      <div class="item" >
        <img class="itm" src="https://cdn.discordapp.com/attachments/927636625314431059/1210619602082467871/fraise-1791x1080.png?ex=65eb385d&is=65d8c35d&hm=67119d6c7054ca02347080c8cb160bb54e964cef4e742111bb61e3b3cd5cb107&" alt="Fraise" onclick="submitForm('Fraise')">
      </div>
      <div class="item" >
        <img class="itm" src="https://cdn.discordapp.com/attachments/927636625314431059/1210619604427341864/pasteque-fruit.png?ex=65eb385d&is=65d8c35d&hm=420060da03c6335bbc6ebf36800a176e5a24ff74e601592d748213d81502af8c&" alt="Pastéque" onclick="submitForm('Pastéque')">
      </div>
      <div class="item" >
        <img class="itm" src="https://cdn.discordapp.com/attachments/927636625314431059/1210619605240905780/pomme-detouree.png?ex=65eb385e&is=65d8c35e&hm=e0c3cf5666cdecba72fec59106ba6bcc1ecbf55f862d4062b4f8ae4444078c7c&" alt="Pomme" onclick="submitForm('Pomme')">
      </div>
      <div class="item" >
        <img class="itm" src="https://cdn.discordapp.com/attachments/927636625314431059/1210619605798617098/r69-poire-williams_fotolia.png?ex=65eb385e&is=65d8c35e&hm=0ba3e68efec276983c7e861f2a6ca19dcb2860854dd87c37960008bf034e7a76&" alt="Poire" onclick="submitForm('Poire')">
      </div>
    </div>
      </div>

      
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
</form>

<script>
  function submitForm(element) {

    var formAction = "{{ path('search', {'name': ' ','fruit':'fruit_select','style':'Aucun','genre':'Aucun'}) }}";
    formAction = formAction.replace('fruit_select', element);
   
    document.getElementById('searchfruit').setAttribute('action', formAction);
                
    document.getElementById('searchfruit').submit()
  }
</script>

{% endblock %}