{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}
{% block body %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{{ asset('assets/css/style_main.css') }}">



<style>
    .example-wrapper {
      padding: 20px;
      background-color: rgba(212,212,212,0.8);
      width:500px;
      height:100px;
      margin-left:350px;
      border-bottom: 1px solid #ccc;
      text-align: center;
      justify-content:center;
    }


    .form-group {
      margin-bottom: 20px;
    }

    h1 {
      color: #333;
    }

    .carousel-container {
      margin-top: 30px;
      border-radius: 5px;
      overflow: hidden;
    }

    .carousel-control {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 25px;
    width: 50px;
    height: 50px;
    margin: auto;
    font-size: 20px;
  }

    .carousel-indicators .active {
      background-color: #333;
    }

    /* Définir la taille des images */
    .item img {
      width: 40%;
      height: 30px;
      object-fit: cover;
    }

    .item:hover{
      cursor: pointer;
    }
  
</style>

<div class="example-wrapper ">
  <h1>Choisissez votre fruit</h1>
</div>

<div class="container">
  <div class="carousel-container">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#" data-slide-to="0" class="active"></li>
        <li data-target="#" data-slide-to="1"></li>
        <li data-target="#" data-slide-to="2"></li>
      </ol>


      <form id="searchfruit" class="form-inline d-flex justify-content-sm-center " action="{{ path('search', {'name': ' ','fruit': ' ','style':'Aucun','genre':'Aucun'}) }}" method="GET">

      <div class="carousel-inner">
        <div class="item active" >
          <img src="https://cdn.discordapp.com/attachments/927636625314431059/1210550152851619840/images.jpeg?ex=65eaf7af&is=65d882af&hm=588c7a6ef03c6755c49c63a49d5b73979d85c7e3c1a5fc2128f17a0719a5e7ee&" alt="Banane" onclick="submitForm('Kiwi')">
      </div>
      <div class="item" >
        <img src="https://cdn.discordapp.com/attachments/927636625314431059/1210549000831373362/kiwi.jpg?ex=65eaf69c&is=65d8819c&hm=86a66513f99a5f537c33a92d24dfb358b30fc4dfb68b5096b1b126ce68f443a6&" alt="Kiwi" onclick="submitForm('Banane')">
      </div>
      <div class="item" >
        <img src="https://www.princedebretagne.com/sites/default/files/styles/540x350/public/2020-05/fraise-magnum.jpg?itok=scSCEO62" alt="Orange" onclick="submitForm('Fraise')">
      </div>
      <div class="item" >
        <img src="https://www.princedebretagne.com/sites/default/files/styles/540x350/public/2020-05/fraise-magnum.jpg?itok=scSCEO62" alt="Orange" onclick="submitForm('Pastéque')">
      </div>
      <div class="item" >
        <img src="https://www.princedebretagne.com/sites/default/files/styles/540x350/public/2020-05/fraise-magnum.jpg?itok=scSCEO62" alt="Orange" onclick="submitForm('Pomme')">
      </div>
      <div class="item" >
        <img src="https://cdn.discordapp.com/attachments/885591577819496499/1208790068379258911/image.png?ex=65e4907a&is=65d21b7a&hm=5120c733870e1a29ccb3d5ac23a23dcf61f1b2591b6d08705f9168b5503f6bca&" alt="Orange" onclick="submitForm('Poire')">
      </div>
    </div>
      </div>

      
      <!-- Left and right controls -->
      <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </a>
    </div>
  </div>
</div>
</form>

<script>
  function submitForm(element) {

    var formAction = "{{ path('search', {'name': ' ','fruit':'fruit_select','style':'Aucun','genre':'Aucun'}) }}";
    formAction = formAction.replace('fruit_select', element);
   
    document.getElementById('searchfruit').setAttribute('action', formAction);
                
    document.getElementById('searchfruit').submit()
  }
</script>

{% endblock %}