{% extends 'base.html.twig' %}

{% block title %} Accueil {% endblock %}
{% block body %}


<div class="example-wrapper">
    <h1><center>Page d'Accueil de {{ controller_name }}</center></h1>
    <p>Choisisez votre fruit<p>
</div>
{% endblock %}
