.selectFruit{
    width: 250px;
    height: 100px;

}

.items-up-body{
    background-color: rgba(212,212,212,0.8);
    width: 550px;
    height: 150px;
    margin-bottom: 50px;
    margin-top: 50px;
    
}