 <style>
        .popup {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0,0,0);
            background-color: rgba(0,0,0,0.4);
            padding-top: 60px;
        }

        .popup-content {
            background-color: #fefefe;
            margin: 5% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
    </style>


<footer id="footer" class="footer-1">
    <div class="main-footer widgets-dark typo-light">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget subscribe no-box">
                        <h5 class="widget-title">Description du site <span></span></h5>
                        <p>C'est un site étudiant dans le cadre de notre cursus</p>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Liens rapides<span></span></h5>
                        <ul class="thumbnail-widget">
                            <li>
                                <div class="thumb-content"><a href="#.">Haut de page</a></div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title"><span>Mention Légale</span></h5>
                        <br></br>
                        <p>Les Mentions Légales</p>
                        <button id="mentionButton" class="btn">Voir les mentions légales</button>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-6 col-md-3">
                    <div class="widget no-box">
                        <h5 class="widget-title">Contactez-nous<span></span></h5>
                        <p><a href="mailto:antonin.goudezeune@etu.univ-amu.fr" title="glorythemes">antonin.goudezeune@etu.univ-amu.fr</a></p>
                        <p><a href="mailto:yanis.triglia@etu.univ-amu.fr" title="glorythemes">yanis.triglia@etu.univ-amu.fr</a></p>
                        <p><a href="mailto:thibault.depermentier@etu.univ-amu.fr" title="glorythemes">thibault.depermentier@etu.univ-amu.fr</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>

<div id="popup" class="popup">
    <div class="popup-content">
        <span class="close">&times;</span>
        <h2>Mentions Légales</h2>
        <p>Ceci est un exemple de mentions légales. Les mentions légales sont des informations obligatoires que tout site internet doit fournir à ses visiteurs. Elles comprennent généralement des informations sur la propriété du site, les droits d'auteur, la politique de confidentialité, etc.</p>
        <p>Il est important de personnaliser les mentions légales en fonction des besoins spécifiques de votre site.</p>
    </div>
</div>

<script>
    var popup = document.getElementById('popup');
    var mentionButton = document.getElementById('mentionButton');
    var close = document.getElementsByClassName('close')[0];

    mentionButton.onclick = function() {
        popup.style.display = "block";
    }

    close.onclick = function() {
        popup.style.display = "none";
    }

    window.onclick = function(event) {
        if (event.target == popup) {
            popup.style.display = "none";
        }
    }
</script>